<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd"
        version="3.0">

  <display-name>Archetype Created Web Application</display-name>

  <!--
  <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.tsystems.jschool.railage.view.filters.AccessFilter</filter-class>
  </filter>
    <filter>
        <filter-name>CleaningSessionAttributesFilter</filter-name>
        <filter-class>com.tsystems.jschool.railage.view.filters.CleaningSessionAttributesFilter</filter-class>
    </filter>




  <servlet>
        <servlet-name>RouteBuilderServlet</servlet-name>
        <servlet-class>com.tsystems.jschool.railage.view.servlets.RouteBuilderServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>com.tsystems.jschool.railage.view.servlets.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>com.tsystems.jschool.railage.view.servlets.TicketServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.tsystems.jschool.railage.view.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>LogOutServlet</servlet-name>
      <url-pattern>/railage/logout</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
       <servlet-name>RouteBuilderServlet</servlet-name>
       <url-pattern>/railage/add/route</url-pattern>
  </servlet-mapping>



  <servlet-mapping>
      <servlet-name>RoutesServlet</servlet-name>
      <url-pattern>/railage/routes/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>RouteBuilderServlet</servlet-name>
      <url-pattern>/railage/build/route</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>TicketServlet</servlet-name>
      <url-pattern>/railage/buy/ticket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>AjaxServlet</servlet-name>
      <url-pattern>/railage/ajax/*</url-pattern>
  </servlet-mapping>
  <filter-mapping>
      <filter-name>AccessFilter</filter-name>
      <url-pattern>/railage/trains.jsp</url-pattern>
      <url-pattern>/railage/passengers.jsp</url-pattern>
      <url-pattern>/railage/rides.jsp</url-pattern>
      <url-pattern>/railage/stations.jsp</url-pattern>
      <url-pattern>/railage/routes.jsp</url-pattern>
      <url-pattern>/railage/route_builder.jsp</url-pattern>
      <url-pattern>/railage/timetable.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CleaningSessionAttributesFilter</filter-name>
    <url-pattern>/railage/add/*</url-pattern>
    <url-pattern>/railage/trains/*</url-pattern>
    <url-pattern>/railage/rides/*</url-pattern>
    <url-pattern>/railage/routes/*</url-pattern>
    <url-pattern>/railage/stations/*</url-pattern>
    <url-pattern>/railage/index.jsp</url-pattern>
    <url-pattern>/railage/register.jsp</url-pattern>
  </filter-mapping>
  -->

    <servlet>
        <servlet-name>railage</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>railage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/railage-servlet.xml
            /WEB-INF/spring-business-context.xml
        </param-value>
    </context-param>


    <persistence-context-ref>
        <persistence-context-ref-name>EntityManager</persistence-context-ref-name>
        <persistence-unit-name>RailagePU</persistence-unit-name>
    </persistence-context-ref>


</web-app>
