<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >



<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<!--web-app
        xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd"
        version="3.0"-->

  <display-name>Archetype Created Web Application</display-name>
  <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.tsystems.jschool.railage.view.filters.AccessFilter</filter-class>
  </filter>
    <filter>
        <filter-name>CleaningSessionAttributesFilter</filter-name>
        <filter-class>com.tsystems.jschool.railage.view.filters.CleaningSessionAttributesFilter</filter-class>
    </filter>
    <servlet>
      <servlet-name>LoginServlet</servlet-name>
      <servlet-class>com.tsystems.jschool.railage.view.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>RegisterServlet</servlet-name>
      <servlet-class>com.tsystems.jschool.railage.view.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>TrainsServlet</servlet-name>
      <servlet-class>com.tsystems.jschool.railage.view.servlets.TrainsServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>TrainRideServlet</servlet-name>
      <servlet-class>com.tsystems.jschool.railage.view.servlets.TrainRideServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StationsServlet</servlet-name>
    <servlet-class>com.tsystems.jschool.railage.view.servlets.StationsServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>RoutesServlet</servlet-name>
      <servlet-class>com.tsystems.jschool.railage.view.servlets.RoutesServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>RouteBuilderServlet</servlet-name>
        <servlet-class>com.tsystems.jschool.railage.view.servlets.RouteBuilderServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>com.tsystems.jschool.railage.view.servlets.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>com.tsystems.jschool.railage.view.servlets.TicketServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.tsystems.jschool.railage.view.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>LoginServlet</servlet-name>
      <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>LogOutServlet</servlet-name>
      <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>RegisterServlet</servlet-name>
      <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>StationsServlet</servlet-name>
      <url-pattern>/add/station</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
        <servlet-name>TrainsServlet</servlet-name>
        <url-pattern>/add/train</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
       <servlet-name>RouteBuilderServlet</servlet-name>
       <url-pattern>/add/route</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>TrainsServlet</servlet-name>
      <url-pattern>/trains/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>TrainRideServlet</servlet-name>
      <url-pattern>/rides/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
       <servlet-name>TrainRideServlet</servlet-name>
       <url-pattern>/add/ride</url-pattern>
       <url-pattern>/find/rides</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>StationsServlet</servlet-name>
      <url-pattern>/stations/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>RoutesServlet</servlet-name>
      <url-pattern>/routes/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>RouteBuilderServlet</servlet-name>
      <url-pattern>/build/route</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>TicketServlet</servlet-name>
      <url-pattern>/buy/ticket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>AjaxServlet</servlet-name>
      <url-pattern>/ajax/*</url-pattern>
  </servlet-mapping>
  <filter-mapping>
      <filter-name>AccessFilter</filter-name>
      <url-pattern>/error.jsp</url-pattern>
     <!-- <url-pattern>/trains.jsp</url-pattern>
       <url-pattern>/passengers.jsp</url-pattern>
       <url-pattern>/rides.jsp</url-pattern>
       <url-pattern>/stations.jsp</url-pattern>
       <url-pattern>/routes.jsp</url-pattern>
       <url-pattern>/route_builder.jsp</url-pattern>
       <url-pattern>/timetable.jsp</url-pattern> -->
   </filter-mapping>
   <filter-mapping>
     <filter-name>CleaningSessionAttributesFilter</filter-name>
     <url-pattern>/add/*</url-pattern>
     <url-pattern>/trains/*</url-pattern>
     <url-pattern>/rides/*</url-pattern>
     <url-pattern>/routes/*</url-pattern>
     <url-pattern>/stations/*</url-pattern>
     <url-pattern>/index.jsp</url-pattern>
     <url-pattern>/register.jsp</url-pattern>
   </filter-mapping>



   <welcome-file-list>
       <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>
 </web-app>
